      
            <h1 class="page-title"><i class="fa fa-area-chart"></i> Sửa thông tin người dùng</h1>
            <!-- END PAGE HEADER-->
            <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="portlet light ">
               
                <div class="portlet-body">
                     <div *ngIf="messages && messages.length" class="note note-danger">
                        <ul *ngFor='let message of messages'>
                            <li>{{message}}</li>
                        </ul>
                     </div>
                    <loading-component *ngIf="isCreating == true || !model"></loading-component>

                    <form *ngIf="model && isCreating == false">
                        <div class="form-group">
                            <label class="control-label">Tên người dùng*</label>
                            <input required [(ngModel)] = 'model.name' name="name" type="text" class="form-control ">
                        </div>

                        <div class="form-group">
                            <label class="control-label">Địa chỉ</label>
                            <input [(ngModel)] = 'model.address' name="address" type="text" class="form-control ">
                        </div>
                         <role-combobox [selectValue]='model.role' (eventChange)='onChangeRole($event)'></role-combobox>
                         <div class="form-group">
                            <label class="control-label">Giới tính</label>
                            <div>
                                Nam <input (change)='onChangeGender(true)' type ='radio' name="gender" [checked]="model.gender==true"/> Nữ <input [checked]="model.gender==false" (change)='onChangeGender(false)' type ='radio' name="gender"/>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label">Ảnh đại diện*</label>
                             <input type="file" class="form-control" (change)='onChangeFile($event.srcElement.files)'/>
                        </div>
                            <button (click) = 'updateUser()'  type="button" class="btn btn-lg btn-block green" >Cập nhật người dùng</button>
                        <br/>
                      
                    </form>
</div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>

