input.ng-valid{
    border-color: #27a4b0;
    border-left: 5px solid #27a4b0;
}

input.ng-invalid{
    border-color: #e73d4a;
    border-left: 5px solid #e73d4a;
}
input.ng-invalid.ng-pristine {
    border: 1px solid #c2cad8;
}
