<h2>Quản lý loại quần áo</h2>
<br>
 <a [routerLink]="['/categories/create']" class="btn btn-info" role="button"><i class="fa fa-plus" aria-hidden="true"></i> Tạo mới</a>
 <hr>
 <loading-component *ngIf='!list_Category'></loading-component>
   <table id="table-list" class="table table-striped table-bordered table-hover table-checkable order-column" *ngIf='list_Category'>
    <thead>
      <tr>
        <th>STT</th>
        <th>Name</th>
        <th>Modify</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <template ngFor let-item [ngForOf]="list_Category" let-i="index">
         <tr>
            <td>{{i + 1}}</td>
            <td>{{item.name}}</td>
            <td>
               <a [routerLink]="['/categories', item._id]"  class="btn btn-info" role="button">Sửa</a>
            </td>
             <td>

               <button class="btn btn-default red" (click)="delete(item)">Xóa</button>
            </td>
        </tr>
    </template>
     
    </tbody>
  </table>
<!--<<<<<<< HEAD-->


<!--=======
<loading-component *ngIf='!list_Category'></loading-component>

<div id="myModal" class="modal fade" role="dialog" #modal>
  <div class="modal-dialog">-->

    <!-- Modal content-->
    <!--<div class="modal-content" *ngIf='IsDelete==false'>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Xác nhận xóa loại quần áo</h4>
      </div>
      <div class="modal-body">
        <p *ngIf='deleteItem'>Bạn có chắc chắn muốn xóa thể loại <b>{{deleteItem.name}}</b> này không</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default red" id="confirmBtn" (click)="confirmDelete()">Có</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Không</button>
      </div>
    </div>
    <div *ngIf='IsDelete==true' class="modal-content" >
      <div class="modal-body">
          <loading-component></loading-component>
      </div>
    </div>
    
  </div>
</div>

  
>>>>>>> 1ca60de03f723ac4b39d7e8ef1505cc15ac8c275-->
