

    <!--<h1>Sửa loại</h1>-->
    <!--NgOnit sẽ load sau khi html load -> error in here-->
    <!--<div *ngIf="category">
      <form #modifyForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Name</label>
=======-->
<div>
  <button type="button" class="btn btn-danger" (click)="back()">
  <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>Back</button>
  <h1 class="page-title"><i class="fa fa-area-chart"></i> Sửa loại quần áo</h1>
                
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">



    <!--NgOnit sẽ load sau khi html load -> error in here-->
    <div *ngIf="category && isEditting== false">
      <div class="note note-danger" *ngIf='lstErr && lstErr.length'>
                          <ul>
                              <li *ngFor='let err of lstErr'>{{err}}</li>
                          </ul>
      </div>
      <form #modifyForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label class="control-label">Name*</label>

        <input type="text" class="form-control" id = "name" name="name" [(ngModel)]="category.name"
              required>
        </div>
      <button [disabled]="!modifyForm.valid" class="btn btn-default"  type="submit" >Sửa</button>
      </form>
    </div>
    <loading-component *ngIf='!category'></loading-component>
    <loading-component *ngIf='isEditting==true'></loading-component>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>




  