<nav-bar-top></nav-bar-top>
        <div class="clearfix"></div>
        <div class="page-container">
            <nav-bar-left></nav-bar-left>
           
             <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <router-outlet></router-outlet>
                </div>
            </div>
</div>
 <div class="page-footer">
        <div class="page-footer-inner">
            Quản lý shop quần áo - CNPM
        </div>
</div>
