<div>
                <h1 class="page-title"><i class="fa fa-area-chart"></i> Trang chủ <small>Sử dụng các chức năng hiện có bên menu bên trái</small></h1>
                 <div class="page-bar">
                 </div>
</div>