<h2>Quản lý phí vận chuyển</h2>
<br>
 <a [routerLink]="['/cost/create']" class="btn btn-info" role="button"><i class="fa fa-plus" aria-hidden="true"></i> Thêm mới phí vận chuyển</a>
 <hr>
  <table id="table-list" class="table table-striped table-bordered table-hover table-checkable order-column" *ngIf='lstCost'>
    <thead>
      <tr>
        <th>STT</th>
        <th>Tên nơi vận chuyển(Quận)</th>
        <th>Giá vận chuyển</th>
        <th>Thao tác</th>
      </tr>
    </thead>
    <tbody>
      
         <tr *ngFor='let cost of lstCost; let i = index'>
            <td>{{i + 1}}</td>
            <td>{{cost.name}}</td>
            <td>{{cost.price}}</td>
            <td>
               <a [routerLink]="['/cost', cost._id]"  class="btn btn-info" role="button">Sửa</a>
               <button class="btn btn-default red" (click)='delete(cost)'>Xóa</button>
            </td>
        </tr>
    </tbody>
  </table>
<loading-component *ngIf='!lstCost'></loading-component>
  