<h2>Quản lý sản phẩm</h2>
<br>
 <a [routerLink]="['/products/create']" class="btn btn-info" role="button"><i class="fa fa-plus" aria-hidden="true"></i> Thêm mới sản phẩm</a>
 <hr>
  <table id="table-list" class="table table-striped table-bordered table-hover table-checkable order-column" *ngIf='lstProduct'>
    <thead>
      <tr>
        <th>STT</th>
        <th>Mã</th>
        <th>Tên sản phẩm</th>
        <th>Giá nhập</th>
        <th>Giá bán</th>
        <th>Giá bán khuyến mãi</th>
        <th>Số lượng tồn</th>
        <th>Loại sản phẩm</th>
        <th>Nhà sản xuất</th>
        <th>Thao tác</th>
      </tr>
    </thead>
    <tbody>
      
         <tr *ngFor='let product of lstProduct; let i = index'>
            <td>{{i + 1}}</td>
            <td>{{product.productId}}</td>
            <td><img style="width: 50px;height:50px;" src={{product.img_main}}/> {{product.name}}</td>
            <td>{{product.cost}}</td>
            <td>{{product.retail_price}}</td>
            <td>{{product.promotion_price}}</td>
            <td>{{product.qty}}</td>
            <td><span *ngFor='let cat of product.category'><span >{{cat.name}}</span><br/></span></td>
            <td>{{product.publisher.name}}</td>
            <td>
               <a [routerLink]="['/products', product._id]"  class="btn btn-info" role="button">Sửa</a>
               <button class="btn btn-default red" (click)='deleteProduct(product)'>Xóa</button>
            </td>
        </tr>
    </tbody>
  </table>
<loading-component *ngIf='!lstProduct'></loading-component>
  