<div class="page-sidebar navbar-collapse collapse" aria-expanded="true">
                 
                    <ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-hover-submenu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                         <li *ngIf="auth.isAuth == true && (auth.role=='seller' || auth.role =='manager' || auth.role =='admin')" class="nav-item">
                            <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="fa fa-info" aria-hidden="true"></i>
                                <span class="title">Quản lý bán hàng</span>
                                <span class="arrow"></span>
                            </a>
                             <ul class="sub-menu">
                                <li class="nav-item" [routerLink]="['/sale']">
                                    <a class="nav-link nav-toggle">
                                        <span class="title">Bán hàng</span>
                                    </a>
                                </li>
                                <li class="nav-item" [routerLink]="['/orders']">
                                    <a class="nav-link nav-toggle">
                                        <span class="title">Danh sách đơn hàng</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li *ngIf="auth.isAuth == true && (auth.role=='manager' || auth.role=='admin')" class="nav-item">
                            <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="fa fa-info" aria-hidden="true"></i>
                                <span class="title">Quản lý nhập hàng</span>
                                <span class="arrow"></span>
                            </a>
                             <ul class="sub-menu">
                                <li class="nav-item" [routerLink]="['/import']">
                                    <a class="nav-link nav-toggle">
                                        <span class="title">Nhập hàng</span>
                                    </a>
                                </li>
                                <li class="nav-item" [routerLink]="['/imports']">
                                    <a class="nav-link nav-toggle">
                                        <span class="title">Danh sách đơn hàng nhập</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                       

                        <li *ngIf="auth.isAuth == true && auth.role=='admin'" class="nav-item">
                            <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="fa fa-info" aria-hidden="true"></i>
                                <span class="title">Quản lý nhân viên</span>
                                <span class="arrow"></span>
                            </a>
                             <ul class="sub-menu">
                                <li class="nav-item" [routerLink]="['/users/create']">
                                    <a class="nav-link nav-toggle">
                                        <span class="title">Thêm nhân viên</span>
                                    </a>
                                </li>
                                <li class="nav-item" [routerLink]="['/users']">
                                    <a class="nav-link nav-toggle">
                                        <span class="title">Danh sách nhân viên</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li *ngIf="auth.isAuth == true && (auth.role=='manager' || auth.role=='admin')" class="nav-item">
                            <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="fa fa-info" aria-hidden="true"></i>
                                <span class="title">Danh mục</span>
                                <span class="arrow"></span>
                            </a>
                            <ul class="sub-menu">
                                 <li *ngIf="auth.isAuth == true && (auth.role=='manager' || auth.role=='admin')" class="nav-item">
                                    <a href="javascript:;" class="nav-link nav-toggle">
                                        <i class="fa fa-info" aria-hidden="true"></i>
                                        <span class="title">Quản lý sản phẩm</span>
                                        <span class="arrow"></span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="nav-item" [routerLink]="['/products/create']">
                                            <a class="nav-link nav-toggle">
                                                <span class="title">Thêm sản phẩm</span>
                                            </a>
                                        </li>
                                        <li class="nav-item" [routerLink]="['/products']">
                                            <a class="nav-link nav-toggle">
                                                <span class="title">Danh sách sản phẩm</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li *ngIf="auth.isAuth == true && auth.role=='admin'" class="nav-item">
                                    <a href="javascript:;" class="nav-link nav-toggle">
                                        <i class="fa fa-info" aria-hidden="true"></i>
                                        <span class="title">Quản lý nhà cung cấp</span>
                                        <span class="arrow"></span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="nav-item" [routerLink]="['/publishers/create']">
                                            <a class="nav-link nav-toggle">
                                                <span class="title">Thêm nhà cung cấp</span>
                                            </a>
                                        </li>
                                        <li class="nav-item" [routerLink]="['/publishers']">
                                            <a class="nav-link nav-toggle">
                                                <span class="title">Danh sách nhà cung cấp</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                 <li *ngIf="auth.isAuth == true && auth.role=='admin'" class="nav-item">
                                    <a href="javascript:;"  class="nav-link nav-toggle">
                                        <i class="fa fa-info" aria-hidden="true"></i>
                                        <span class="title">Quản lý loại sản phẩm</span>
                                        <span class="arrow"></span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="nav-item" [routerLink]="['/categories/create']">
                                            <a class="nav-link nav-toggle">
                                                <span class="title">Thêm loại sản phẩm</span>
                                            </a>
                                        </li>
                                        <li class="nav-item" [routerLink]="['/categories']">
                                            <a class="nav-link nav-toggle">
                                                <span class="title">Danh sách loại sản phẩm</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li *ngIf="auth.isAuth == true && auth.role=='admin'" class="nav-item">
                                    <a href="javascript:;"  class="nav-link nav-toggle">
                                        <i class="fa fa-info" aria-hidden="true"></i>
                                        <span class="title">Quản lý phí vận chuyển</span>
                                        <span class="arrow"></span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="nav-item" [routerLink]="['/cost/create']">
                                            <a class="nav-link nav-toggle">
                                                <span class="title">Thêm phí vận chuyển</span>
                                            </a>
                                        </li>
                                        <li class="nav-item" [routerLink]="['/cost']">
                                            <a class="nav-link nav-toggle">
                                                <span class="title">Danh sách phí vận chuyển</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                             </ul>
                        </li>

                        <li *ngIf="auth.isAuth == true && (auth.role=='manager' || auth.role=='admin')" [routerLink]="['/report']" class="nav-item">
                            <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="fa fa-info" aria-hidden="true"></i>
                                <span class="title">Báo cáo</span>
                                <span class="arrow"></span>
                            </a>
                            
                        </li>
                          <li *ngIf="auth.isAuth == true && (auth.role=='seller' || auth.role=='manager' || auth.role=='admin')" [routerLink]="['/delivery']" class="nav-item">
                            <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="fa fa-info" aria-hidden="true"></i>
                                <span class="title">Quản lý giao hàng</span>
                                <span class="arrow"></span>
                            </a>
                        </li>
                    </ul>
                    <!-- END SIDEBAR MENU -->
                </div>