 <h1 class="page-title">
     <i class="fa fa-area-chart"></i> Trang thông tin cá nhân
 </h1>
            <!-- END PAGE HEADER-->
    <div class="page-bar">
                            <ul class="page-breadcrumb">
                                <li>
                                    <i class="icon-home"></i>
                                    <a>Home</a>
                                    <i class="fa fa-angle-right"></i>
                                </li>
                                <li>     
                                    <a>Trang cá nhân</a>
                                
                                </li>
                                <li>
                            
                            </ul>  
    </div>
    <loading-component *ngIf='!user'></loading-component>
    <div class="row" *ngIf='user'>
                              <div class="col-md-3">

                            </div>
                            <div class="col-md-6">
                                <div>
                                <!-- PORTLET MAIN -->
                                <div class="portlet light profile-sidebar-portlet ">
                                    <!-- SIDEBAR USERPIC -->
                                    <div class="profile-userpic">
                                        <img src="{{user.img}}" class="img-responsive" alt="">
                                    </div>
                                    <!-- END SIDEBAR USERPIC -->
                                    <!-- SIDEBAR USER TITLE -->
                                    <div class="profile-usertitle">
                                        <div class="profile-usertitle-name"> {{user.name}} </div>
                                        <div class="profile-usertitle-job"> Developer </div>
                                    </div>
                                    <!-- END SIDEBAR USER TITLE -->
                                    <!-- SIDEBAR BUTTONS -->
                                    <div class="profile-userbuttons">

                                    </div>
                                    <!-- END SIDEBAR BUTTONS -->
                                    <!-- SIDEBAR MENU -->
                                    <div class="profile-usermenu">
                                        <ul class="nav">
                                            <li class="active">
                                                <a>
                                                    <i class="icon-home"></i> Địa chỉ: {{user.address}} </a>
                                            </li>
                                            <li>
                                                <a >
                                                    <i class="icon-settings"></i> Giới tính: {{user.gender ? "Nam" : "Nữ"}} </a>
                                            </li>
                                            <li>
                                                <a >
                                                    <i class="icon-info"></i> Username: {{user.username}}</a>
                                            </li>
                                             <li>
                                                <a >
                                                    <i class="icon-info"></i> Loại nhân viên: {{user.role.name_desc}}</a>
                                            </li>
                                            <li>
                                                <a >
                                                    <i class="icon-info"></i> Đổi mật khẩu</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- END MENU -->
                                </div>
                                <!-- END PORTLET MAIN -->
                                <!-- PORTLET MAIN -->
                                <!-- END PORTLET MAIN -->
                            </div>
                            </div>
                            <div class="col-md-3">

                            </div>
</div>