      
            <h1 class="page-title"><i class="fa fa-area-chart"></i> Nhập hàng</h1>
            <!-- END PAGE HEADER-->
            <div class="page-bar">
                        <ul class="page-breadcrumb">
                            <li>
                                <i class="icon-home"></i>
                                <a [routerLink]="['/home']">Trang chủ</a>
                                <i class="fa fa-angle-right"></i>
                            </li>
                            <li>     
                                <a>Lập đơn nhập hàng</a>
                            </li>
                        </ul>  
            </div>
             <div class="row" *ngIf='isCreating == true'>
                 <loading-component></loading-component>
             </div>      
            <div class="row" *ngIf='isCreating == false'>
        <div class="col-md-4">

            <div class="portlet box green">
                                <div class="portlet-title">
                                    <div class="caption">
                                       Chọn sản phẩm </div>
                                    <div class="tools">
                                        <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                                        <a href="#portlet-config" data-toggle="modal" class="config" data-original-title="" title=""> </a>
                                        <a href="javascript:;" class="reload" data-original-title="" title=""> </a>
                                        <a href="javascript:;" class="remove" data-original-title="" title=""> </a>
                                    </div>
                                </div>
                                <div class="portlet-body flip-scroll">
                                     <loading-component *ngIf='!products'></loading-component>
                                     <input [(ngModel)]='keyword' type="text" class="form-control" placeholder="Tìm kiếm sản phẩm"/>
                                     <div class="mt-comments" *ngIf='products'>
                                             <div (dblclick)='addProduct(product)' class="mt-comment" *ngFor='let product of products | productFilter:keyword'>
                                                    <div class="mt-comment-img">

                                                    <img style="width: 50px;height:50px;" src="{{product.img_main}}"> </div>
                                                    <div class="mt-comment-body">
                                                        <div class="mt-comment-info">
                                                            <span class="mt-comment-author">{{product.name}}<br/></span>
                                                            <span class="mt-comment-date">{{product.productId}}</span>
                                                        </div>
                                                         <div class="mt-comment-info">
                                                            <span class="mt-comment-author detail">Số lượng tồn: {{product.qty}} <br/>
                                                                                      Giá nhập: {{product.cost}} <br/>
                                                                                      Giá bán: {{product.promotion_price}}</span>
                                                            <span class="mt-comment-date"><button (click)='addProduct(product)' class="btn green">Thêm</button></span>
                                                        </div>
                                                       
                                                        
                                                        
                                                    </div>
                                                </div>
            </div>
                                </div>
            </div>
        </div>
        <div class="col-md-8">
           <div class="portlet box green">
                                <div class="portlet-title">
                                    <div class="caption">
                                       Danh sách sản phẩm sẽ nhập </div>
                                    <div class="tools">
                                        <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                                        <a href="#portlet-config" data-toggle="modal" class="config" data-original-title="" title=""> </a>
                                        <a href="javascript:;" class="reload" data-original-title="" title=""> </a>
                                        <a href="javascript:;" class="remove" data-original-title="" title=""> </a>
                                    </div>
                                </div>
                                <div class="portlet-body flip-scroll">
                                    <div *ngIf="messages && messages.length" class="note note-danger">
                                        <ul *ngFor='let message of messages'>
                                            <li>{{message}}</li>
                                        </ul>
                                    </div>
                                    <table class="table table-bordered table-striped table-condensed flip-content">
                                        <thead class="flip-content">
                                            <tr>
                                                <th> Sản phẩm</th>
                                                <th> Giá nhập </th>
                                                <th class="numeric"> Số lượng</th>
                                                <th class="numeric"> Thành tiền </th>
                                                <th class="numeric"> Thao tác </th>
                                            </tr>
                                        </thead>
                                        <tbody *ngIf='Import && Import.import_good_detail.length'>
                                            <tr *ngFor='let importDetail of Import.import_good_detail'>
                                                <td> <img style="width: 30px;height:30px;" src="{{importDetail.product.img_main}}"/> {{importDetail.product.name}} </td>
                                                <td> {{importDetail.price}} </td>
                                                <td  class="numeric" width="15%">
                                                    <input min="1" (blur)='editQty(importDetail)' class="form-control" type="number" name="amount" [(ngModel)]='importDetail.amount'/> 
                                                </td>
                                                <td class="numeric"> {{importDetail.price * importDetail.amount}} </td>
                                                <td class="numeric"><button (click)='remove(importDetail)' class="red btn-danger btn-sm"> Gỡ bỏ</button></td>
                                            </tr>
                                          
                                        </tbody>
                                    </table>
                                    <div *ngIf='Import.import_good_detail.length == 0' class="note note-success"><p>Nhấp đúp vào sản phẩm để thêm vào danh sách !</p></div>
                                    <div style="font-weight: bold;">
                                        <p> 
                                            Tổng chi: {{Import.totalMoney}}
                                        </p>
                                    </div>
                                    <button 
                                     (click) = 'onSubmit()'
                                     [disabled] = 'Import.import_good_detail.length == 0' class="btn-lg btn green" type="submit">Tạo đơn nhập</button>
                                    </div>
                                     
                                </div>
                            </div>
        </div>
       

