
<h2>Quản lý hóa đơn bán hàng</h2>
<br>

  <table id="table-list" class="table table-striped table-bordered table-hover table-checkable order-column" *ngIf='orders'>
    <thead>
      <tr>
        <th>STT</th>
        <th>Mã đơn hàng</th>
        <th>Người nhập</th>
        <th>Tổng tiền</th>
        <th>Trạng thái</th>
        <th>Ngày nhập</th>
        <th></th>


      </tr>
    </thead>
    <tbody>
      <template ngFor let-order  [ngForOf]="orders" let-i="index">
         <tr>
            <td>{{i + 1}}</td>
            <td>{{order._id}}</td>
            <td>{{order.user.name}}</td>
            <td>{{order.totalMoney}}</td>
            <td>{{order.statement.name}}</td>
            
            <td>{{order.createdAt | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
            <td><button class="btn btn-info" (click)="viewOrderDetails(order)">Chi tiết</button>

                <button class="btn btn-info" (click)="modifyOrder(order)" [disabled] = "order.statement._id =='58efa7c0a9e88921ec7a2d6d'"> Cập nhật</button>
                <button class="btn btn-default red" (click)="Delete(order)" [disabled] = "order.statement._id =='58efa7c0a9e88921ec7a2d6d'">Xóa</button>
                </td>

            
        </tr>
    </template>
     
    </tbody>
  </table>

  <loading-component *ngIf='!orders'></loading-component>


<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" *ngIf="selectedOrderLoaded">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="hideChildModal()">
          <span aria-hidden="true">&times;</span>
        </button>
                <h4> Chi tiết hóa đơn mã <b>{{orderSelected._id}}</b></h4>
            </div>
            <div class="modal-body">
                <form ngNoForm method="post">
<!--                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                <label class="control-label"><i class="fa fa-user" aria-hidden="true"></i>Creator</label>
                                <input type="text" class="form-control" [(ngModel)]="orderDetails.name" disabled />
                            </div>

                        </div>
                    </div>-->
<!--
                    <hr/>-->
                    <div class="panel panel-info">
                        <div class="panel-heading">Bao gồm các sản phẩm</div>
                        <table id="orders-list" class="table table-striped table-bordered table-hover table-checkable order-column" >
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Tên sản phẩm</th>
                                        <th>Giá</th>                                      
                                        <th>Số lượng</th>
                                        <th>Tổng</th>                                                                                                                       
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-template ngFor let-orderDetail [ngForOf]="orderDetails" let-i="index">
                                        <tr>
                                            <td>{{i + 1}}</td>
                                            <td>{{orderDetail.product.name}}</td>
                                            <td>{{orderDetail.price}}</td>                                         
                                            <td>{{orderDetail.amount}}</td> 
                                            <td>{{orderDetail.amount*orderDetail.price}}</td>                                         
                                                                                    
                                                                                     
                                        </tr>
                                </ng-template>
                                    
                                </tbody>
                        </table>
                    </div>
      <h4> Tổng Tiền <b>{{orderSelected.totalMoney}}</b></h4>
                </form>
            </div>
        </div>
    </div>
</div>

<div bsModal #modifyModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" *ngIf="selectedModifyLoaded ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="hideModifyModal()">
                     <span aria-hidden="true">xx</span>
        </button>
                <h4>Cập nhật trạng thái giao hàng</h4>
            </div>
            <div class="modal-body">
                  <select class="form-control margin-bottom" [(ngModel)]="statusSelected" 
                      name="statement">
                    <!--Options-->
  
                         <option *ngFor="let sta of status"
                             [hidden] = "sta.priority < orderSelected.statement.priority"
                              [ngValue]="sta">
                              {{sta.name}}
                      </option>
  
                     
                  </select>
                    <br>
                    <div class="row">
                    <div class="col-lg-9 col-xs-6"></div>
                    <div class="col-lg-3 col-xs-6">                    
                       <button class="btn btn-danger" (click)="hideModifyModal()">Hủy</button>
                       <button class="btn btn-primary" (click)="modifyCofirm()">Cập nhật</button>                       
                    </div>
                </div>
              
              

        </div>
    </div>
</div>
