      
            <h1 class="page-title"><i class="fa fa-area-chart"></i> Sửa thông tin giao hàng</h1>
            <!-- END PAGE HEADER-->
            <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="portlet light ">
               
                <div class="portlet-body">
                     <div *ngIf="messages && messages.length" class="note note-danger">
                        <ul *ngFor='let message of messages'>
                            <li>{{message}}</li>
                        </ul>
                     </div>
                    <loading-component *ngIf="isCreating == true || !model"></loading-component>
                    <table *ngIf="model && isCreating == false" class="table table-bordered table-striped table-condensed flip-content">
                       
                    <tbody>
                       <tr>
                           <th>Mã đơn giao</th><td>{{model._id}}</td>
                       </tr>
                        <tr>
                           <th>Mã đơn hàng</th><td>{{model.order}}</td>
                        </tr>
                        <tr>
                           <th>Phí thu</th><td>{{model.cost}}</td>
                        </tr>
                        <tr>
                           <th>Ngày tạo</th><td>{{model.createdAt | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
                       </tr>
                    
                    </tbody>
                </table>   
                    <form *ngIf="model && isCreating == false">
                        <div class="form-group">
                            <label class="control-label">Tên khách hàng giao*</label>
                            <input required [(ngModel)] = 'model.customer_name' name="customer_name" type="text" class="form-control ">
                        </div>
                        <div class="form-group">
                            <label class="control-label">Địa chỉ*</label>
                            <input required [(ngModel)] = 'model.address' name="address" type="text" class="form-control ">
                        </div>
                        <div class="form-group">
                            <label class="control-label">Số điện thoại*</label>
                            <input required [(ngModel)] = 'model.phone' name="phone" type="text" class="form-control ">
                        </div>
                            <button [disabled]="model.customer_name == '' || model.address == '' || model.phone ==''" (click) = 'update()'  type="button" class="btn btn-lg btn-block green" >Cập nhật thông tin giao hàng</button>
                        <br/>
                      
                    </form>
</div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>

