.mt-comment{
    cursor: pointer;
}
.detail{
    font-weight: normal !important;
    color: #999 !important;
}
input.ng-valid{
    border-color: #27a4b0;
    border-left: 5px solid #27a4b0;
}
input.ng-invalid{
    border-color: #e73d4a;
    border-left: 5px solid #e73d4a;
}
select.ng-valid{
    border-color: #27a4b0;
    border-left: 5px solid #27a4b0;
}
select.ng-invalid{
    border-color: #e73d4a;
    border-left: 5px solid #e73d4a;
}

input.unvalid-value{
    border-color: #e73d4a;
    border-left: 5px solid #e73d4a;
}
select.unvalid-value{
    border-color: #e73d4a;
    border-left: 5px solid #e73d4a;
}
button.unvalid-value{
    border-color: #e73d4a;
    border-left: 5px solid #e73d4a;
}


