      
            <h1 class="page-title"><i class="fa fa-area-chart"></i> Báo cáo tổng quan</h1>
            <!-- END PAGE HEADER-->
           
            <div class="row">
                <div class="col-md-3">
                    <div class="portlet box green">
                          <div class="portlet-title">
                               <div class="caption">
                                   Chọn thời gian lấy báo cáo </div>
                                </div>
                           <div  class="portlet-body flip-scroll">
                               <loading-component *ngIf='isCreating == true'></loading-component>
                               <form #ngForm='ngForm' *ngIf='isCreating == false'>
                                    <div class="form-group">
                                        <label class="control-label">Năm*</label>
                                        <input [ngClass]="{'unvalid-value': model.year < 1}" required [(ngModel)] = 'model.year' name="year" type="number" class="form-control ">
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Tháng báo cáo*</label>
                                        <div class="input-group">
                                        <input placeholder="Từ tháng" [ngClass]="{'unvalid-value': model.month_begin < 1 || model.month_begin > 12}"  required [(ngModel)] = 'model.month_begin' name="month_begin" type="number" class="form-control ">
                                        <input placeholder="Đến tháng" [ngClass]="{'unvalid-value': model.month_end < 1 || model.month_end > 12 || model.month_end < model.month_begin}"  required [(ngModel)] = 'model.month_end' name="month_end" type="number" class="form-control ">
                                        </div>
                                    </div>
                                        <button [disabled]='!ngForm.valid ||
                                            model.month_begin < 1 || model.month_begin > 12
                                            || model.month_end < 1 || model.month_end > 12 || model.month_end < model.month_begin
                                            || model.year < 1
                                        
                                        ' (click) = 'getReport()'  type="button" class="btn btn-lg btn-block green" >Lấy báo cáo</button>
                                    <br/>
                                
                                </form>
                           </div>
                    </div>
                </div>
                
                <div class="col-md-9">
                     <div class="portlet box green">
                          <div class="portlet-title">
                               <div class="caption">
                                   Kết quả báo cáo <span *ngIf='result'>năm {{result.year}}</span></div>
                                </div>
                           <div  class="portlet-body flip-scroll">
                               <canvas id="myChart" width="400" height="200"></canvas>
                              <table *ngIf='result' class="table table-striped table-bordered table-hover table-checkable order-column">
                                <thead>
                                <tr>
                                    <th>Tháng</th>
                                    <th>Số sản phẩm bán</th>
                                    <th>Tổng số tiền thu</th>
                                    <th>Số sản phẩm nhập</th>
                                    <th>Tổng số tiền chi</th>
                                    <th>Lãi</th>
                                </tr>
                                </thead>
                                <tbody>
                                
                                    <tr *ngFor='let month of result.months; let i = index'>
                                        <th>{{month.month}}</th>
                                        <td>{{month.totalAmountOrder}}</td>
                                        <td>{{month.totalMoneyOrder}}</td>
                                        <td>{{month.totalAmountImportGood}}</td>
                                        <td>{{month.totalMoneyImportGood}}</td>
                                        <td>{{month.profit}}</td>
                                        
                                    </tr>
                                    <tr>
                                        <th>Tổng</th>
                                        <th>{{result.totalAmountOrder}}</th>
                                        <th>{{result.totalMoneyOrder}}</th>
                                        <th>{{result.totalAmountImportGood}}</th>
                                        <th>{{result.totalMoneyImportGood}}</th>
                                        <th>{{result.profit}}</th>
                                    </tr>
                                </tbody>
                            </table>
                           </div>
                    </div>
                    
                    
                </div>
            </div>

