<li *ngIf='auth.isAuth' class="dropdown dropdown-user">
      <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                    <span class="username username-hide-on-mobile" ><i class="fa fa-plus font-green" aria-hidden="true"></i> Thêm </span>
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-default">
                                    <li>
                                        <a [routerLink]="['/sale']">
                                            <i class="fa fa-slack font-green" aria-hidden="true"></i> Thêm đơn hàng mới
                                        </a>
                                    </li>
                                </ul>          
</li>
<li class="dropdown dropdown-user" *ngIf='!(auth && auth.isAuth == true)'>
                                <a [routerLink]="['/login']" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"> 
                                    <span class="username username-hide-on-mobile">
                                        <i class="fa fa-sign-in" aria-hidden="true"></i> Đăng nhập 
                                     </span> 
                                </a>            
</li>
<li class="dropdown dropdown-user" *ngIf='auth && auth.isAuth == true && user != null && user.name != ""' >
                                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                    <img alt="" class="img-circle" src="{{user.img}}">
                                    <span class="username username-hide-on-mobile" id='mobile-hide'> {{user.name}} </span>
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-default">
                                    <li>
                                        <a [routerLink]="['/profile']">
                                            <i class="icon-user font-green"></i> Tài khoản của tôi
                                        </a>
                                    </li>
                                    <li>
                                        <a (click)='logOut()'>
                                            <i class="icon-key font-green"></i> Đăng xuất
                                        </a>
                                    </li>
                                </ul>
</li>