<h2>Quản lý đơn hàng nhập</h2>
<br>
 <a [routerLink]="['/import']" class="btn btn-info" role="button"><i class="fa fa-plus" aria-hidden="true"></i> Thêm đơn nhập mới</a>
 <hr>
  <table id="table-list" class="table table-striped table-bordered table-hover table-checkable order-column" *ngIf='lstImport'>
    <thead>
      <tr>
        <th>Mã đơn</th>
        <th>Người nhập</th>
        <th>Tổng SL</th>
        <th>Tổng tiền chi</th>
        <th>Ngày thêm</th>
        <th>Thao tác</th>
      </tr>
    </thead>
    <tbody>
      
         <tr *ngFor='let import of lstImport; let i = index'>
            <td>{{import._id}}</td>
            <td>{{import.user.name}}</td>
            <td>{{import.totalAmount}}</td>
            <td>{{import.totalMoney}}</td>
            <td>{{import.createdAt}}</td>
            <td>
               <a [routerLink]="['/imports', import._id]"  class="btn btn-info" role="button">Sửa</a>
               <button class="btn btn-default red" (click)='delete(import)'>Xóa</button>
            </td>
        </tr>
    </tbody>
  </table>
<loading-component *ngIf='!lstImport'></loading-component>
  