<h2>Quản lý nhân viên</h2>
<br>
 <a [routerLink]="['/users/create']" class="btn btn-info" role="button"><i class="fa fa-plus" aria-hidden="true"></i> Thêm mới nhân viên</a>
 <hr>
  <table id="table-list" class="table table-striped table-bordered table-hover table-checkable order-column" *ngIf='lstUser'>
    <thead>
      <tr>
        <th>STT</th>
        <th>Username</th>
        <th>Tên</th>
        <th>Loại nhân viên</th>
        <th>Giới tính</th>
        <th>Ngày tạo</th>
        <th>Thao tác</th>
      </tr>
    </thead>
    <tbody>
      
         <tr *ngFor='let user of lstUser; let i = index'>
            <td>{{i + 1}}</td>
            <td><img style="width: 30px;height:30px;" src={{user.img}}/> {{user.username}}</td>
            <td>{{user.name}}</td>
            <td>{{user.role.name_desc}}</td>
            <td>{{user.gender == true ? "Nam": "Nữ"}}</td>
            <td>{{user.createdAt | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
            <td>
               <a [routerLink]="['/users', user._id]"  class="btn btn-info" role="button">Sửa</a>
               <button class="btn btn-default red" (click)='deleteUser(user)'>Xóa</button>
            </td>
        </tr>
    </tbody>
  </table>
<loading-component *ngIf='!lstUser'></loading-component>
  