      
            <h1 class="page-title"><i class="fa fa-area-chart"></i> Thêm sản phẩm</h1>
            <!-- END PAGE HEADER-->
            <div class="page-bar">
                        <ul class="page-breadcrumb">
                            <li>
                                <i class="icon-home"></i>
                                <a [routerLink]="['/home']">Trang chủ</a>
                                <i class="fa fa-angle-right"></i>
                            </li>
                            <li>     
                                <a>Thêm sản phẩm</a>
                            </li>
                        </ul>  
            </div>
            <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="portlet light ">
               
                <div class="portlet-body">
                     <div *ngIf="messages && messages.length" class="note note-danger">
                        <ul *ngFor='let message of messages'>
                            <li>{{message}}</li>
                        </ul>
                     </div>
                    <loading-component *ngIf="isCreating == true"></loading-component>
                    <form *ngIf="isCreating == false">
                        <div class="form-group">
                            <label class="control-label">Tên sản phẩm*</label>
                            <input #name='ngModel' required [(ngModel)] = 'model.name' name="name" type="text" class="form-control ">
                        </div>
                         <div class="form-group">
                            <label class="control-label">Giá nhập*</label>
                            <input #cost='ngModel' required [(ngModel)] = 'model.cost' name="cost" type="number" class="form-control ">
                        </div>
                        <div class="form-group">
                            <label class="control-label">Giá bán*</label>
                            <input #retail_price='ngModel' required [(ngModel)] = 'model.retail_price' name="retail_price" type="number" class="form-control ">
                        </div>
                         <div class="form-group">
                            <label class="control-label">Giá khuyến mãi*</label>
                            <input #promotion_price='ngModel' required [(ngModel)] = 'model.promotion_price' name="promotion_price" type="number" class="form-control ">
                        </div>
                        <div class="form-group">
                            <label class="control-label">Chọn nhà sản xuất*</label>
                            <select [(ngModel)]="model.publisher" name="publisher" required class="form-control">
                            <option value="-1">Chọn nhà sản xuất*</option>
                            <option value="{{publisher._id}}" *ngFor='let publisher of publishers'>
                                {{publisher.name}}
                            </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Chọn thể loại*</label>
                            <br/>
                            <ss-multiselect-dropdown [options]="itemCatSelect" [(ngModel)]="model.category" name="optionsModel"></ss-multiselect-dropdown>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Ảnh đại diện*</label>
                             <input type="file" class="form-control" (change)='onChangeFile($event.srcElement.files)'/>
                        </div>
                            <button (click) = 'addProduct()' id="btnLogin" type="button" class="btn btn-lg btn-block green" >Thêm sản phẩm</button>
                        <br/>
                        <hr/>
                        
                    </form>
</div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>

