      
            <h1 class="page-title"><i class="fa fa-area-chart"></i> Thêm đơn hàng</h1>
            <!-- END PAGE HEADER-->
            <div class="page-bar">
                        <ul class="page-breadcrumb">
                            <li>
                                <i class="icon-home"></i>
                                <a [routerLink]="['/home']">Trang chủ</a>
                                <i class="fa fa-angle-right"></i>
                            </li>
                            <li>     
                                <a>Thêm đơn hàng</a>
                            </li>
                        </ul>  
            </div>
            <div class="row" *ngIf='isCreating == true'>
                <loading-component></loading-component>
            </div>
            
            <div class="row"  *ngIf='isCreating == false'>
        <div class="col-md-4">

            <div class="portlet box green">
                                <div class="portlet-title">
                                    <div class="caption">
                                       Chọn sản phẩm </div>
                                    <div class="tools">
                                        <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                                        <a href="#portlet-config" data-toggle="modal" class="config" data-original-title="" title=""> </a>
                                        <a href="javascript:;" class="reload" data-original-title="" title=""> </a>
                                        <a href="javascript:;" class="remove" data-original-title="" title=""> </a>
                                    </div>
                                </div>
                                <div class="portlet-body flip-scroll">
                                     <loading-component *ngIf='!products'></loading-component>
                                     <input [(ngModel)]='keyword' type="text" class="form-control" placeholder="Tìm kiếm sản phẩm"/>
                                     <div class="mt-comments" *ngIf='products'>
                                             <div (dblclick)='addProduct(product)' class="mt-comment" *ngFor='let product of products | productFilter:keyword'>
                                                    <div class="mt-comment-img">

                                                    <img style="width: 50px;height:50px;" src="{{product.img_main}}"> </div>
                                                    <div class="mt-comment-body">
                                                        <div class="mt-comment-info">
                                                            <span class="mt-comment-author">{{product.name}}<br/></span>
                                                            <span class="mt-comment-date">{{product.productId}}</span>
                                                        </div>
                                                         <div class="mt-comment-info">
                                                            <span class="mt-comment-author detail">Số lượng tồn: {{product.qty}} <br/>
                                                                                      Giá bán: {{product.retail_price}} <br/>
                                                                                      Giá khuyến mãi: {{product.promotion_price}}</span>
                                                            <span class="mt-comment-date"><button (click)='addProduct(product)' class="btn green">Thêm</button></span>
                                                        </div>
                                                       
                                                        
                                                        
                                                    </div>
                                                </div>
            </div>
                                </div>
            </div>
        </div>
        <div class="col-md-8">
           <div class="portlet box green">
                                <div class="portlet-title">
                                    <div class="caption">
                                       Danh sách sản phẩm đã chọn </div>
                                    <div class="tools">
                                        <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                                        <a href="#portlet-config" data-toggle="modal" class="config" data-original-title="" title=""> </a>
                                        <a href="javascript:;" class="reload" data-original-title="" title=""> </a>
                                        <a href="javascript:;" class="remove" data-original-title="" title=""> </a>
                                    </div>
                                </div>
                                <div class="portlet-body flip-scroll">
                                    <div *ngIf="messages && messages.length" class="note note-danger">
                                        <ul *ngFor='let message of messages'>
                                            <li>{{message}}</li>
                                        </ul>
                                    </div>
                                    <table class="table table-bordered table-striped table-condensed flip-content">
                                        <thead class="flip-content">
                                            <tr>
                                                <th> Sản phẩm</th>
                                                <th> Giá bán </th>
                                                <th class="numeric"> Số lượng</th>
                                                <th class="numeric"> Thành tiền </th>
                                                <th class="numeric"> Thao tác </th>
                                            </tr>
                                        </thead>
                                        <tbody *ngIf='Order && Order.orderDetail.length'>
                                            <tr *ngFor='let orderDetail of Order.orderDetail'>
                                                <td> <img style="width: 30px;height:30px;" src="{{orderDetail.product.img_main}}"/> {{orderDetail.product.name}} </td>
                                                <td> {{orderDetail.price}} </td>
                                                <td  class="numeric" width="15%">
                                                    <input min="1" [max]="orderDetail.product.qty" (blur)='editQty(orderDetail)' class="form-control" type="number" name="amount" [(ngModel)]='orderDetail.amount'/> 
                                                </td>
                                                <td class="numeric"> {{orderDetail.price * orderDetail.amount}} </td>
                                                <td class="numeric"><button (click)='remove(orderDetail)' class="red btn-danger btn-sm"> Gỡ bỏ</button></td>
                                            </tr>
                                          
                                        </tbody>
                                    </table>
                                    <div *ngIf='Order.orderDetail.length == 0' class="note note-success"><p>Nhấp đúp vào sản phẩm để thêm vào danh sách !</p></div>
                                    <div class="form-group">
                                        <label class="control-label">Chọn phương thức thanh toán*</label>
                                        <select required class="form-control" [(ngModel)]='Order.typePayment'>
                                            <option value="1">Thánh toán ngay</option>
                                            <option value="2">Giao hàng</option>
                                        </select>
                                    </div>
                                    <div *ngIf='Order.typePayment==2'>
                                     <div class="form-group" >
                                        <label class="control-label">Chọn khu vực giao hàng*</label>
                                        <select [ngClass]="{'unvalid-value': Order.cost == '-1'}" required class="form-control" [(ngModel)]='Order.cost' (change)='onChangeArea($event.target.value)'>
                                            <option value="-1">Chọn khu vực</option>
                                            <option value="{{cost._id}}" *ngFor='let cost of costs'>{{cost.name}} | Giá: {{cost.price}}</option>
                                        </select>
                                     </div>
                                        <div class="form-group">
                                            <label class="control-label">Tên khách hàng(*)</label>
                                            <input required [(ngModel)]='Order.delivery.customer_name' name="customer_name" class="form-control"/>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Địa chỉ(*)</label>
                                             <input required [(ngModel)]='Order.delivery.address' name="address" class="form-control"/>
                                        </div>
                                         <div class="form-group">
                                            <label class="control-label">Số điện thoại(*)</label>
                                            <input required [(ngModel)]='Order.delivery.phone' name="phone" class="form-control"/>
                                        </div>
                                        <div class="form-group">
                                            <label required class="control-label">Ngày giao hàng(*)</label>
                                                <input required (blur)='updateDate()' class="form-control" type="date" [ngModel] ="Order.delivery.delivery_date | date:'yyyy-MM-dd'" (ngModelChange)="Order.delivery.delivery_date = $event" [value]="datee | date:'yyyy-MM-dd'">
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Ghi chú</label>
                                            <input [(ngModel)]='Order.delivery.note' name="note" class="form-control"/>
                                        </div>
                                    </div>
									<div style="font-weight: bold;">
                                        <p> 
                                            Tổng tiền: {{Order.totalMoney}}
                                        </p>
                                    </div>
                                     <button 
                                     (click) = 'onSubmit()'
                                     [disabled] = 'Order.orderDetail.length == 0 
                                        || ((Order.typePayment == 2)
                                        && (Order.cost == -1 || Order.delivery.customer_name=="" || Order.delivery.phone=="" || Order.delivery.address==""))' class="btn-lg btn green" type="submit">Tạo đơn hàng</button>
                                </div>
                            </div>
        </div>
       
    </div>

