      
            <h1 class="page-title"><i class="fa fa-area-chart"></i> Xem & Chỉnh sửa chi tiết đơn nhập</h1>
            <!-- END PAGE HEADER-->
            <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">

                     <div *ngIf="messages && messages.length" class="note note-danger">
                        <ul *ngFor='let message of messages'>
                            <li>{{message}}</li>
                        </ul>
                     </div>
                    <loading-component *ngIf="isCreating == true || !model"></loading-component>
                               <div *ngIf='isCreating == false && model' class="portlet box green">
                                <div class="portlet-title">
                                    <div class="caption">
                                       Thông tin đơn hàng </div>
                                </div>
                                <div  class="portlet-body flip-scroll">
                                     <table class="table table-bordered table-striped table-condensed flip-content">
                                        <tbody>
                                           <tr>
                                               <th>Mã đơn hàng</th>
                                               <td>{{model._id}}</td>
                                           </tr>
                                            <tr>
                                               <th>Tổng tiền chi</th>
                                               <td>{{model.totalMoney}}</td>
                                           </tr>
                                           <tr>
                                               <th>Người nhập</th>
                                               <td>{{model.user.name}}</td>
                                           </tr>
                                           <tr>
                                               <th>Chi tiết các mặt hàng</th>
                                               <td>
                                                    <table class="table table-bordered table-striped table-condensed flip-content">
                                                          <thead class="flip-content">
                                                            <tr>
                                                                <th> Sản phẩm</th>
                                                                <th> Giá nhập </th>
                                                                <th class="numeric"> Số lượng</th>
                                                                <th class="numeric"> Thành tiền </th>
                                                                <th class="numeric"> Thao tác </th>
                                                            </tr>
                                                            </thead>
                                                        <tbody>
                                                            <tr *ngFor='let importDetail of model.import_good_detail'>
                                                                <td> <img style="width: 30px;height:30px;" src="{{importDetail.product.img_main}}"/> {{importDetail.product.name}} </td>
                                                                <td> {{importDetail.price}} </td>
                                                                <td  class="numeric" width="15%">
                                                                    <input min="1" (blur)='editQty(importDetail)' class="form-control" type="number" name="amount" [(ngModel)]='importDetail.amount'/> 
                                                                </td>
                                                                <td class="numeric"> {{importDetail.price * importDetail.amount}} </td>
                                                                <td class="numeric"><button (click)='update(importDetail)' class="red btn-danger btn-sm"> Sửa</button></td>
                                                            </tr>
                                                        
                                                        </tbody>
                                                    </table>


                                               </td>
                                           </tr>
                                        </tbody>
                                     </table>
                                </div>
                            </div>
                    

        </div>
        <div class="col-md-2"></div>
    </div>

