<button type="button" class="btn btn-danger" (click)="back()">
<i class="fa fa-arrow-circle-left" aria-hidden="true"></i>Back</button>

<div>
                <h1 class="page-title"><i class="fa fa-area-chart"></i> Thêm nhà cung cấp</h1>
                
                <div class="row">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-6">
                        <div *ngIf='isAdding==false'>
                                <div class="note note-danger" *ngIf='lstErr && lstErr.length'>
                                            <ul>
                                                <li *ngFor='let err of lstErr'>{{err}}</li>
                                            </ul>
                                </div>
                                <form #createForm="ngForm" (ngSubmit)="onSubmit()">
                                    <div class="form-group">
                                    <label class="control-label">Tên nhà cung cấp*</label>
                                    <input required type="text" class="form-control" id = "name" name="name" [(ngModel)]="publisher.name">
                                    </div>
                                    <button [disabled] = '!createForm.valid' class="btn btn-info"  type="submit" >Thêm</button>
                                   
                                </form> 
                            </div>
                            <div class="col-md-3">
                            </div>
                    </div>
                    <loading-component *ngIf='isAdding==true'></loading-component>
                </div>
         
                 
</div>
<!--<form #createForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">

        <label for="name">Name</label>
        <input type="text" class="form-control" id = "name" name="name" [(ngModel)]="publisher.name"
              required #name />
        <div [hidden] = "name.valid || name.pristine" class="alert alert-danger">
          Name is required </div>
      </div>
      <button  type="submit" >Submit</button>
</form>-->