<h2>Quản lý nhà cung cấp</h2>
<br/>
 <a [routerLink]="['/publishers/create']"  class="btn btn-info" role="button"><i class="fa fa-plus" aria-hidden="true"></i> Tạo mới</a>
 <br/> <br/>
  <loading-component *ngIf='!list_Publisher'></loading-component>
  <table id="table-list" class="table table-striped table-bordered table-hover table-checkable order-column" *ngIf='list_Publisher'>
    <thead>
      <tr>
        <th>STT</th>
        <th>Name</th>
        <th>Modify</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-item [ngForOf]="list_Publisher" let-i="index">
         <tr>
            <td>{{i + 1}}</td>
            <td><img src="/assets/img/pushlisher.png" style="width: 30px;height:30px;"/>{{item.name}}</td>
            <td>
               <a [routerLink]="['/publishers', item._id]"  class="btn btn-info" role="button">Sửa</a>
            </td>
             <td>
                <button class="btn btn-primary" (click)="delete(item)">Xóa</button>
            </td>
        </tr>
    </ng-template>
     
    </tbody>
  </table>
