<button type="button" class="btn btn-danger" (click)="back()">
<i class="fa fa-arrow-circle-left" aria-hidden="true"></i>Back</button>
    <!--NgOnit sẽ load sau khi html load -> error in here-->
    <!--<div *ngIf="publisher">
      <form #modifyForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Name</label>

        <input type="text" class="form-control" id = "name" name="name" [(ngModel)]="publisher.name"
              required #name = "ngModel">
        <div [hidden] = "name.valid || name.pristine" class="alert alert-danger">
          Name is required </div>
        
      </div>
      <button  type="submit" >Submit</button>
    </form>
    </div>-->
<div>
                <h1 class="page-title"><i class="fa fa-area-chart"></i>Sửa nhà cung cấp</h1>
                
                <div class="row">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-6">
                           <div class="note note-danger" *ngIf='lstErr && lstErr.length'>
                                            <ul>
                                                <li *ngFor='let err of lstErr'>{{err}}</li>
                                            </ul>
                                </div>
                          <div *ngIf="publisher  && isEditting== false" >
                                <form #modifyForm="ngForm" (ngSubmit)="onSubmit()">
                                <div class="form-group">
                                  <label for="name">Name</label>

                                  <input type="text" class="form-control" id = "name" name="name" [(ngModel)]="publisher.name"
                                        required >

                                  
                                </div>
                                 <button [disabled] = '!modifyForm.valid' class="btn btn-info"  type="submit" >Sửa</button>
                              </form>
                          </div>
                            <div class="col-md-3">
                            </div>
                    </div>
                    <loading-component *ngIf='!publisher'></loading-component>
                </div>
         
                 
</div>