      
            <h1 class="page-title"><i class="fa fa-area-chart"></i> Đăng nhập</h1>
            <!-- END PAGE HEADER-->
            <div class="page-bar">
                        <ul class="page-breadcrumb">
                            <li>
                                <i class="icon-home"></i>
                                <a [routerLink]="['/home']">Home</a>
                                <i class="fa fa-angle-right"></i>
                            </li>
                            <li>     
                                <a>Đăng nhập</a>
                            </li>
                        </ul>  
            </div>
            <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="portlet light ">
               
                <div class="portlet-body">
                    
                      <div *ngIf="lstErr && lstErr.length" class="note note-danger">
                        <ul *ngFor='let err of lstErr'>
                            <li>{{err}}</li>
                        </ul>
                     </div>
                     <div *ngIf="success == true" class="note note-success">
                      <p>Đăng nhập thành công, trang tự động chuyển về trang chủ trong vòng vài giây</p>
                    </div>
                    <loading-component *ngIf="success == true || isloggin == true"></loading-component>
                    <form *ngIf="success == false && isloggin == false">
                        <div class="form-group has-success">

                            <label class="control-label">Tên đăng nhập*</label>
                            
                            <input [(ngModel)] = 'username' name="username" type="text" class="form-control input-lg">
                        </div>
                        <div class="form-group">

                            <label class="control-label">Mật khẩu*</label>
                            <input  [(ngModel)] = 'password' name="password" type="password" class="form-control input-lg">
                        </div>
                            <button type="submit" (click) = 'Login()' id="btnLogin"  class="btn btn-lg btn-block green" >Đăng nhập</button>
                        <br/>
                        <p class="text-center"><a href=''>Quên mật khẩu?</a></p>
                        <hr/>

                    </form>
</div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>

