      
            <h1 class="page-title"><i class="fa fa-area-chart"></i> Sửa thông tin vận chuyển</h1>
            <!-- END PAGE HEADER-->
            <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="portlet light ">
               
                <div class="portlet-body">
                     <div *ngIf="messages && messages.length" class="note note-danger">
                        <ul *ngFor='let message of messages'>
                            <li>{{message}}</li>
                        </ul>
                     </div>
                    <loading-component *ngIf="isCreating == true || !model"></loading-component>

                    <form *ngIf="model && isCreating == false">
                        <div class="form-group">
                            <label class="control-label">Tên nơi vận chuyển*</label>
                            <input required [(ngModel)] = 'model.name' name="name" type="text" class="form-control ">
                        </div>
                        <div class="form-group">
                            <label class="control-label">Phí vận chuyển*</label>
                            <input [ngClass]="{'unvalid-value': model.price <= '-1'}" required [(ngModel)] = 'model.price' name="price" type="number" class="form-control ">
                        </div>
                            <button [disabled]="model.name == '' || model.price <= 0" (click) = 'update()'  type="button" class="btn btn-lg btn-block green" >Cập nhật phí vận chuyển</button>
                        <br/>
                      
                    </form>
</div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>

