<h2>Quản lý thông tin giao hàng</h2>
<br>
 <hr>
  <table id="table-list" class="table table-striped table-bordered table-hover table-checkable order-column" *ngIf='lstDelivery'>
    <thead>
      <tr>
        <th>Mã giao hàng</th>
        <th>Thời gian tạo</th>
        <th>Đơn hàng</th>
        <th>Tên khách hàng</th>
        <th>SĐT</th>
        <th>Địa chỉ</th>
        <th>Thao tác</th>
      </tr>
    </thead>
    <tbody>
      
         <tr *ngFor='let delivery of lstDelivery; let i = index'>
            <td>{{delivery._id}}</td>
            <td>{{delivery.createdAt | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
            <td><a [routerLink]="['/orders', delivery.order]">{{delivery.order}}</a></td>
            <td>{{delivery.customer_name}}</td>
            <td>{{delivery.phone}}</td>
            <td>{{delivery.address}}</td>
            <td>
               <a [routerLink]="['/delivery', delivery._id]"  class="btn btn-info" role="button">Sửa</a>
               
            </td>
        </tr>
    </tbody>
  </table>
<loading-component *ngIf='!lstDelivery'></loading-component>
  