<div class="form-group">
      <label class="control-label">Chọn loại nhân viên*</label>
      <select (click)='console()' [(ngModel)]="selectValue" required class="form-control" (change)='onChange($event.target.value)'>
      <option value="-1">Chọn loại nhân viên</option>
      <option *ngFor='let role of lstRoles' value='{{role._id}}'>{{role.name_desc}}</option>
     </select>
</div>